//Tipografia
@font-family: 'Poppins', sans-serif;

//Paleta de colores
@primary-color: #6C8766; 
@secondary-color: #E7E3E0; 
@tertiary-color: #3C6034;
@quaternary-color: #173C1B;
@quinary-color: #8FC33E;
@senary-color: #4386A7; 

#breaks {
    tablet: 768px;
    desktop: 1025px;
}

